<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="KofaxIndexRecon_OnBase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="KofaxIndexRecon_OnBase.Properties.Settings.KofaxConnString"
      connectionString="Data Source=DKFX0350,3314;Initial Catalog=Kofax_FormInfo;Integrated Security=SSPI" />
    <add name="KofaxIndexRecon_OnBase.Properties.Settings.OnBaseConnString"
      connectionString="Data Source=7912W099;Initial Catalog=OnBaseHelper;Integrated Security=SSPI" />
  </connectionStrings>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\logs\KofaxIndexRecon_OnBase\KofaxIndexReconciliation.log"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd hh:mm:ss} – %m%n"/>
      </layout>
    </appender>
  </log4net>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <applicationSettings>
        <KofaxIndexRecon_OnBase.Properties.Settings>
            <setting name="EventLogName" serializeAs="String">
                <value>KIRec_OB</value>
            </setting>
            <setting name="EventSourceName" serializeAs="String">
                <value>KIRec_OB</value>
            </setting>
            <setting name="ExchangeVersion" serializeAs="String">
                <value>Exchange2013_SP1</value>
            </setting>
            <setting name="EWSUri" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailFrom" serializeAs="String">
                <value>svs-dkfx-process@ncsecu.dev</value>
            </setting>
            <setting name="EmailErrorSubject" serializeAs="String">
                <value>KofaxIndexRecon_OnBase has failed!</value>
            </setting>
            <setting name="EmailTo" serializeAs="String">
                <value>someone1@ncsecu.dev, someone2@ncsecu.dev</value>
            </setting>
            <setting name="DbCmdTimeout" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SP_PopulateFormIdsToProcess" serializeAs="String">
                <value>dbo.KfxIndxRconOB_SelectRecFromKofaxInfo</value>
            </setting>
            <setting name="NumDaysBeforeEmptyStatusScanned" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TableName_MemdocRecords" serializeAs="String">
                <value>OnBase_MemdocRecords</value>
            </setting>
            <setting name="TableName_KofaxRecords" serializeAs="String">
                <value>FormIDs_To_Process</value>
            </setting>
            <setting name="LastSuccessfullRun" serializeAs="String">
                <value>03-11-2020</value>
            </setting>
            <setting name="EmailWarningSubject" serializeAs="String">
                <value>Warning: KofaxIndexRecon_OnBase  encountered an issue</value>
            </setting>
            <setting name="SP_OnBaseFetching" serializeAs="String">
                <value>KfxIndxRconOB_SelectRecFromOnBase</value>
            </setting>
            <setting name="SP_TruncateTables" serializeAs="String">
                <value>KfxIndxRconOB_TruncateTables</value>
            </setting>
            <setting name="SP_UpdateRecNotScanned" serializeAs="String">
                <value>KfxIndxRcon_UpdtRecNotScanned</value>
            </setting>
            <setting name="SP_UpdtRecScannedButMissingInCMS" serializeAs="String">
                <value>KfxIndxRconOB_UpdtRecScannedButMissingInOnBase</value>
            </setting>
            <setting name="SP_UpdateFormInfoTable" serializeAs="String">
                <value>KfxIndxRconOB_UpdateFormInfoTable</value>
            </setting>
        </KofaxIndexRecon_OnBase.Properties.Settings>
    </applicationSettings>
</configuration>